// colors
$white: #ffffff;
$gold: #dba742;
$yellow: #f0b748;
$yellow-2: #ffc75a;
$black: #010202;
$dark-blue: #17418f;
$dark-red: #8f171d;
$red: #ff2934;
$blue: #1f62dd;
$gray-50: #fafafa;

$breakpoint: 750px;
$heading-color: $black;
$h1: #3d3d4d;
$title: #3a3a3a;
$line: #f0f0f5;
